* {
	margin: 0;
	padding: 0;
}

.grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}

.grid > * {
	display: inline-block;
	text-align: justify;
	padding: 5px;
	margin-bottom: 5px;
}

.grid > .col4 {
	width: 98%;
	/*background-color: #FF0000;*/
}

.grid > .col3 {
	width: 73%;
	/*background-color: #00FF00;*/
}

.grid > .col2 {
	width: 48%;
	/*background-color: #0000FF;*/
}

.grid > .col1 {
	width: 23%;
	/*background-color: #FF00FF;*/
}

@media screen and (max-width: 980px) {

	.grid > .col3 {
		width: 98%;
	}
	
	.grid > .col2 {
		width: 48%;
	}
	
	.grid > .col1 {
		width: 48%;
	}
}

@media screen and (max-width: 650px) {

    .grid > .col3 {
		width: 98%;
	}
	
	.grid > .col2 {
		width: 98%;
	}
	
	.grid > .col1 {
		width: 98%;
	}
}
