*{
	font-family: sans-serif;
}

td {
	border-top: solid grey 1px;
	margin-right: 25px;
	overflow: hidden;
	text-align: center;
 }

th {
    height: 25px;
    width: 30%;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

tr:nth-child(odd){
	background-color: #D0D0D0;
}

table{
	border-collapse: collapse;
	border: solid grey 1px;
}

form{
	border: solid grey 1px;
}
